{% extends 'base.html' %}

{% block head %}
<title>Usuarios</title>
{% endblock %}

{% block body %}
    <h1 style="text-align: center">Lista de Usuarios</h1>
    <div class="container">
        <div class="col-xs-12">
            <a class="btn btn-primary" href="/">Voltar pra Home</a>
        </div>
        <br>
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                </tr>
                </thead>
                <tBody>
                {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone_number}}</td>
                </tr>
                {% endfor %}
                </tBody>
            </table>
        </div>
    </div>
{% endblock %}